/* styles/Banner.css */
.banner-trip {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: white;
}

.banner-trip__content {
  text-align: center;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  color: #ea8e72;
  width: 98%;
}

.airplane-icon,
.price-icon,
.support-icon {
  font-size: 20px;
  color: #ea8e72;
  margin-bottom: 10px;
}

@media (max-width: 784px) {
  .banner-trip {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: white;
    margin-top: 0;
   
  }
}




@media (min-width: 784px) {
  .banner-trip {
    padding: 0;
    
  }

  .banner-trip__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
    
  }

  .destinations,
  .prices,
  .support {
    display: flex;
    gap: 1rem;
  }

  .airplane-icon,
  .price-icon,
  .support-icon {
    font-size: 48px;
    color: #ea8e72;
    margin-bottom: 10px;
  }
}
