.app-container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa; /* Color de fondo de la barra de navegación */
  height: 100vh;
}

a.active-link.nav-link  {
  font-weight: bold; /* Puedes aplicar cualquier estilo que desees */
  color: rgb(255, 255, 255);
  background-color: #5bbd23;
  /* Otros estilos para resaltar el enlace activo */
}

.content-container {
  flex: 1;
  background-color: #f8f9fa; /* Cambia el color de fondo según tu diseño */
  margin-left: 250px;
}

.burger-icon {
  font-size: 24px;
  cursor: pointer;
  display: none; /* Ocultar en pantallas grandes */
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column; /* Cambiar a disposición en columna para apilar los elementos */
  }

  .burger-icon {
    display: block; /* Mostrar el ícono del menú hamburguesa */
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 20;
  }

  .sidebar {
    width: 100%; /* Ocupar todo el ancho en pantallas pequeñas */
    position: fixed;
    top: 0;
    bottom: 0; /* Ocupar todo el alto de la pantalla */
    background-color: #ecebeafb;
    z-index: 10; /* Asegurar que el Navbar esté por encima del contenido */
    transform: translateX(-100%); /* Ocultar el Navbar */
    transition: transform 0.3s ease-in-out; /* Agregar una transición suave */
  }

  .content-container {
    padding: 20px;
    overflow: auto;
    background-color: #f8f8f8;
  }

  .menu-open {
    .sidebar {
      transform: translateX(0); /* Mostrar el Navbar */
    }
  
    .content-container {
      margin-left: 0px; /* Dar espacio para el Navbar */
    }
  }

  .content-container {
    margin-left: 0px; /* Dar espacio para el Navbar */
  }
}