.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px; /* Ancho de la barra de navegación en el lado izquierdo */
  background-color: #f8f9fa; /* Color de fondo de la barra de navegación */
  border-right: 1px solid #e9ecef; /* Borde derecho para separar el contenido */
}

.active-link {
  font-weight: bold; /* Puedes aplicar cualquier estilo que desees */
  color: rgb(255, 255, 255);
  background-color: #06913b;
  /* Otros estilos para resaltar el enlace activo */
}

.app-container {
  display: flex;
  height: 100vh; /* Ajusta según tus necesidades */
}

.content-container {
  flex: 1;
  padding: 20px;
  overflow: auto; /* Agrega desplazamiento si el contenido es largo */
  background-color: #f8f8f8; /* Cambia el color de fondo según tu diseño */
}

.burger-icon {
  font-size: 24px;
  cursor: pointer;
  display: none; /* Ocultar en pantallas grandes */
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column; /* Cambiar a disposición en columna para apilar los elementos */
  }

  .burger-icon {
    display: block; /* Mostrar el ícono del menú hamburguesa */
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 20;
  }

  .sidebar {
    width: 100%; /* Ocupar todo el ancho en pantallas pequeñas */
    position: fixed;
    top: 0;
    bottom: 0; /* Ocupar todo el alto de la pantalla */
    background-color: #ecebeafb;
    z-index: 10; /* Asegurar que el Navbar esté por encima del contenido */
    transform: translateX(-100%); /* Ocultar el Navbar */
    transition: transform 0.3s ease-in-out; /* Agregar una transición suave */
  }

  .content-container {
    padding: 20px;
    overflow: auto;
    background-color: #f8f8f8;
    margin-left: 250px; /* Espacio para el Navbar en el lado izquierdo */
  }

  .menu-open {
    .sidebar {
      transform: translateX(0); /* Mostrar el Navbar */
    }
  
    .content-container {
      margin-left: 250px; /* Dar espacio para el Navbar */
    }
  }
}