@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&family=Lobster&family=REM:wght@300&family=Shadows+Into+Light&display=swap');

details {
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  width: 100%;
 


}

.details-cont {
 
  height: 90vh;
  display: grid;
  gap: 1rem;
  align-items: center;
  justify-content: center;
 
}

.div-ref {
  width:  80%;
  height: 68%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: rgb(236, 244, 244);
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
}


.detail-price {
  font-size: 18px;
  font-weight: bold;
  color: #ce1616;
  margin-bottom: 1rem;
  font-family: 'REM', sans-serif;
}

.detail-desc {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  
}

.details-h2 {
  padding-top: 6rem;
  color: #777;
  font-family: 'REM', sans-serif;
  text-align: center;
}

.hr-details {
  width: 20%;
  margin: 0 auto; 
  margin-bottom: 2rem;
  border: 1px solid #ce1616;
  text-align: center;
}

.detail-img {
  width: 60rem; 
  height: 70%; 
  object-fit: cover;
  border-radius: 1rem;

}

.desc-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.btns-details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.desc-price{
  margin-top: 3rem;
}

.btns-details {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.btn-details,
.reserve-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.btn-details {
  background-color: #777;
}

.reserve-btn {
  background-color: #16ce38;
}

.btn-details:hover,
.reserve-btn:hover {
  opacity: 0.8;
}

.detail-name {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
  margin-left: 10px;
}


@media screen and (max-width: 767px) {
 
  details {
   display: block;
    width: 100%;
  }

 

  .details-cont {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }

  .div-ref {

    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 1rem;
    margin: 0 auto;
  }

 

  .image-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }


  .detail-img{
    width:20rem;
    height: 20rem;
 

  }

}

@media (min-width: 768px) and (max-width: 1439px) {
  .card-item {
    width: 21rem;
    margin: 0 auto;
  }
}