
.grey-border {
  border-bottom: 1px solid #e1e1e1;
}

.grey-border-left {
  border-left: 1px solid #e1e1e1;
}

.logo-margin {
  margin: 0 1em;
}

.full-width {
  width: 100%;
}

.fit-content {
  width: fit-content;
}

@media (max-width: 846px) {
  .contacts {
    display: none;
  }

  .grey-border-left {
    border-left: 0;
  }
}

.socials {
  margin-right: 0.5em;
}

.translucent {
  background-color: rgba(248, 249, 250, 0.96); /* White with 50% opacity */
}

.transparent {
  background-color: #fff0;
}

@media (max-width: 414px) {
  .container-fluid {
    padding: 0 !important;
  }
}
